<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create A Basketball Team!</h1>
  <form action="/team" method="POST">
    <div>
      <label>Team Name: </label>
      <input type="text" id="name" name="team_name"/>
    </div>
    <div>
      <label>Coach: </label>
      <input type="text" id="coach" name="coach_name"/>
    </div>
    <div>
      <label>Point Gaurd: </label>
      <input type="text" id="pg" name="point_guard" />
    </div>
    <div>
      <label>Shooting Guard: </label>
      <input type="text" id="sg" name="shooting_guard" />
    </div>
    <div>
      <label>Small Forward: </label>
      <input type="text" id="sf" name="small_forward"/>
    </div>
    <div>
      <label>Power Forward: </label>
      <input type="text" id="pf" name="power_forward"/>
    </div>
    <div>
      <label>Center: </label>
      <input type="text" id="c" name="center"/>
    </div>
    <div>
      <input type="submit" value="Submit" id="Submit">
    </div>
  </form>
 </body>
</html>


